<div id="masteries-container">
  <img src="images/black_masteries.png" alt="masteries" />
  <!-- Ferocity -->
  <img ng-if="page[6111]" id="fury" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6111.png" alt="fury">
  <img ng-if="!page[6111]" class="fury_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6111] === 1" class="fury_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6111] === 2" class="fury_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6111] === 3" class="fury_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6111] === 4" class="fury_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6111] === 5" class="fury_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6114]" id="sorcery" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6114.png" alt="sorcery">
  <img ng-if="!page[6114]" class="sorcery_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6114] === 1" class="sorcery_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6114] === 2" class="sorcery_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6114] === 3" class="sorcery_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6114] === 4" class="sorcery_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6114] === 5" class="sorcery_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6121] === 1" id="double-edged-sword" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6121.png" alt="double-edged-sword">
  <img ng-if="page[6122] === 1" id="feast" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6122.png" alt="feast">
  <img ng-if="page[6123] === 1" id="expose-weakness" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6123.png" alt="expose-weakness">

  <img ng-if="page[6131]" id="vamperism" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6131.png" alt="vamperism">
  <img ng-if="!page[6131]" class="vamperism_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6131] === 1" class="vamperism_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6131] === 2" class="vamperism_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6131] === 3" class="vamperism_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6131] === 4" class="vamperism_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6131] === 5" class="vamperism_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6134]" id="natural-talent" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6134.png" alt="natural-talent">
  <img ng-if="!page[6134]" class="natural-talent_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6134] === 1" class="natural-talent_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6134] === 2" class="natural-talent_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6134] === 3" class="natural-talent_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6134] === 4" class="natural-talent_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6134] === 5" class="natural-talent_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6141]" id="bouty-hunter" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6141.png" alt="bouty-hunter">
  <img ng-if="page[6142]" id="oppressor" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6142.png" alt="oppressor">

  <img ng-if="page[6151]" id="battering-blows" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6151.png" alt="battering-blows">
  <img ng-if="!page[6151]" class="battering-blows_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6151] === 1" class="battering-blows_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6151] === 2" class="battering-blows_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6151] === 3" class="battering-blows_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6151] === 4" class="battering-blows_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6151] === 5" class="battering-blows_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6154]" id="piercing-thoughts" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6154.png" alt="piercing-thoughts">
  <img ng-if="!page[6154]" class="piercing-thoughts_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6154] === 1" class="piercing-thoughts_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6154] === 2" class="piercing-thoughts_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6154] === 3" class="piercing-thoughts_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6154] === 4" class="piercing-thoughts_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6154] === 5" class="piercing-thoughts_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6161]" id="warlords-bloodlust" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6161.png" alt="warlords-bloodlust">
  <img ng-if="page[6162]" id="fervor-of-battle" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6162.png" alt="fervor-of-battle">
  <img ng-if="page[6164]" id="deathfire-touch" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6164.png" alt="deathfire-touch">
  <!-- Cunning -->
  <img ng-if="page[6311]" id="wanderer" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6311.png" alt="wanderer">
  <img ng-if="!page[6311]" class="wanderer_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6311] === 1" class="wanderer_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6311] === 2" class="wanderer_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6311] === 3" class="wanderer_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6311] === 4" class="wanderer_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6311] === 5" class="wanderer_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6312]" id="savagery" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6312.png" alt="savagery">
  <img ng-if="!page[6312]" class="savagery_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6312] === 1" class="savagery_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6312] === 2" class="savagery_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6312] === 3" class="savagery_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6312] === 4" class="savagery_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6312] === 5" class="savagery_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6321]" id="runic-affinity" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6321.png" alt="runic-affinity">
  <img ng-if="page[6322]" id="secret-stash" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6322.png" alt="secret-stash">
  <img ng-if="page[6323]" id="assassin" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6323.png" alt="assassin">

  <img ng-if="page[6331]" id="merciless" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6331.png" alt="merciless">
  <img ng-if="!page[6331]" class="merciless_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6331] === 1" class="merciless_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6331] === 2" class="merciless_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6331] === 3" class="merciless_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6331] === 4" class="merciless_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6331] === 5" class="merciless_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6332]" id="meditation" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6332.png" alt="meditation">
  <img ng-if="!page[6332]" class="meditation_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6332] === 1" class="meditation_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6332] === 2" class="meditation_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6332] === 3" class="meditation_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6332] === 4" class="meditation_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6332] === 5" class="meditation_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6342]" id="bandit" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6342.png" alt="bandit">
  <img ng-if="page[6343]" id="dangerous-game" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6343.png" alt="dangerous-game">

  <img ng-if="page[6351]" id="precision" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6351.png" alt="precision">
  <img ng-if="!page[6351]" class="precision_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6351] === 1" class="precision_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6351] === 2" class="precision_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6351] === 3" class="precision_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6351] === 4" class="precision_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6351] === 5" class="precision_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6352]" id="intelligence" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6352.png" alt="intelligence">
  <img ng-if="!page[6352]" class="intelligence_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6352] === 1" class="intelligence_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6352] === 2" class="intelligence_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6352] === 3" class="intelligence_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6352] === 4" class="intelligence_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6352] === 5" class="intelligence_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6361]" id="stormraiderss-surge" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6361.png" alt="stormraiderss-surge">
  <img ng-if="page[6362]" id="thunderlords-decree" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6362.png" alt="thunderlords-decree">
  <img ng-if="page[6363]" id="windspeakers-blessing" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6363.png" alt="windspeakers-blessing">

  <!-- Resolve -->
  <img ng-if="page[6211]" id="recovery" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6211.png" alt="recovery">
  <img ng-if="!page[6211]" class="recovery_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6211] === 1" class="recovery_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6211] === 2" class="recovery_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6211] === 3" class="recovery_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6211] === 4" class="recovery_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6211] === 5" class="recovery_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6212]" id="unyielding" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6212.png" alt="unyielding">
  <img ng-if="!page[6212]" class="unyielding_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6212] === 1" class="unyielding_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6212] === 2" class="unyielding_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6212] === 3" class="unyielding_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6212] === 4" class="unyielding_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6212] === 5" class="unyielding_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6221]" id="explorer" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6221.png" alt="explorer">
  <img ng-if="page[6223]" id="tough-skin" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6223.png" alt="tough-skin">

  <img ng-if="page[6231]" id="runic-armor" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6231.png" alt="runic-armor">
  <img ng-if="!page[6231]" class="runic-armor_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6231] === 1" class="runic-armor_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6231] === 2" class="runic-armor_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6231] === 3" class="runic-armor_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6231] === 4" class="runic-armor_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6231] === 5" class="runic-armor_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6232]" id="veterans-scars" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6232.png" alt="veterans-scars">
  <img ng-if="!page[6232]" class="veterans-scars_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6232] === 1" class="veterans-scars_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6232] === 2" class="veterans-scars_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6232] === 3" class="veterans-scars_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6232] === 4" class="veterans-scars_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6232] === 5" class="veterans-scars_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6241]" id="insight" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6241.png" alt="insight">
  <img ng-if="page[6242]" id="perseverance" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6242.png" alt="perseverance">

  <img ng-if="page[6251]" id="swiftness" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6251.png" alt="swiftness">
  <img ng-if="!page[6251]" class="swiftness_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6251] === 1" class="swiftness_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6251] === 2" class="swiftness_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6251] === 3" class="swiftness_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6251] === 4" class="swiftness_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6251] === 5" class="swiftness_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6252]" id="legendary-guardian" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6252.png" alt="legendary-guardian">
  <img ng-if="!page[6252]" class="legendary-guardian_points" src="images/0_point.png" alt="0/5">
  <img ng-if="page[6252] === 1" class="legendary-guardian_points" src="images/1_point.png" alt="1/5">
  <img ng-if="page[6252] === 2" class="legendary-guardian_points" src="images/2_point.png" alt="2/5">
  <img ng-if="page[6252] === 3" class="legendary-guardian_points" src="images/3_point.png" alt="3/5">
  <img ng-if="page[6252] === 4" class="legendary-guardian_points" src="images/4_point.png" alt="4/5">
  <img ng-if="page[6252] === 5" class="legendary-guardian_points" src="images/5_point.png" alt="5/5">

  <img ng-if="page[6261]" id="grasp-of-the-undying" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6261.png" alt="grasp-of-the-undying">
  <img ng-if="page[6262]" id="strength-of-the-ages" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6262.png" alt="strength-of-the-ages">
  <img ng-if="page[6263]" id="bond-of-stone" src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/mastery/6263.png" alt="bond-of-stone">
</div>
